upstream pasty_server {
    server unix:/var/run/nginx/gunicorn_bepasty.sock fail_timeout=0;
}

server {
	listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ bepasty_subdomain }}.{{ domain }};

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://pasty_server;
    }

	location /static/ {
		alias /home/bepasty/src/bepasty/static/;
	}

    access_log  /var/log/nginx/bepasty.access.log;
    error_log   /var/log/nginx/bepasty.error.log;

    client_max_body_size 32M;

    ssl on;
    ssl_certificate /etc/ssl/letsencrypt/certs/{{ bepasty_subdomain }}.{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/ssl/letsencrypt/certs/{{ bepasty_subdomain }}.{{ domain }}/privkey.pem;
}
